Imports

In [110]:
import pandas as pd
import numpy as np
import seaborn as sns
import re
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder 
from sklearn.preprocessing import OrdinalEncoder 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
%matplotlib inline

Arrumando Preço

In [111]:
def arruma(preco):
    if pd.isnull(preco):
        return CellDF['PREÇO'].median()  
    preco = preco.strip().replace('R$', '', 1)
    preco = preco.replace('.', '_')
    preco = preco.replace(',', '.')
    preco = preco.replace('_', '')
    return np.float32(preco)

sconverter = {
    'PREÇO': arruma,
}



CellDF = pd.read_csv('resultado_parcial.csv', converters=sconverter)

print(CellDF.info())


CellDF = CellDF.drop(CellDF[CellDF['PREÇO'] >= 9000].index)

CellDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431 entries, 0 to 430
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   MARCA           429 non-null    object
 1   MODELO          423 non-null    object
 2   SISTEMA_OP      431 non-null    object
 3   REDE            431 non-null    object
 4   MEMORIA_INT     425 non-null    float64
 5   RAM             391 non-null    float64
 6   RESOL CAM TRAS  374 non-null    float64
 7   GARANTIA        399 non-null    float64
 8   PESO            429 non-null    float64
 9   PREÇO           431 non-null    float32
dtypes: float32(1), float64(5), object(4)
memory usage: 32.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 422 entries, 0 to 430
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   MARCA           421 non-null    object
 1   MODELO          414 non-null    object
 2   SISTEMA_OP      422 non-null    object
 3   REDE            422 non-null    object
 4   MEMORIA_INT     416 non-null    float64
 5   RAM             382 non-null    float64
 6   RESOL CAM TRAS  365 non-null    float64
 7   GARANTIA        391 non-null    float64
 8   PESO            420 non-null    float64
 9   PREÇO           422 non-null    float32
dtypes: float32(1), float64(5), object(4)
memory usage: 34.6+ KB

Dropando os nulo, fds

In [112]:
dfamor = CellDF.dropna()

Tratando Modelos Zaralhados

In [113]:
dfamor['MARCA']=  dfamor['MARCA'].apply(lambda x: x.upper().strip()) 
dfamor['MARCA']=  dfamor['MARCA'].apply(lambda x: 'SAMSUNG' if x == 'GALAXY S22 PLUS' else x)
dfamor['MARCA']=  dfamor['MARCA'].apply(lambda x: 'SAMSUNG' if x.find('SAMSUNG') != -1 else x)
dfamor['MARCA']=  dfamor['MARCA'].apply(lambda x: 'MOTOROLA' if x.find('MOTOROLA') != -1 else x)

dfamor

/tmp/ipykernel_40498/3817290528.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfamor['MARCA']=  dfamor['MARCA'].apply(lambda x: x.upper().strip())
/tmp/ipykernel_40498/3817290528.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfamor['MARCA']=  dfamor['MARCA'].apply(lambda x: 'SAMSUNG' if x == 'GALAXY S22 PLUS' else x)
/tmp/ipykernel_40498/3817290528.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfamor['MARCA']=  dfamor['MARCA'].apply(lambda x: 'SAMSUNG' if x.find('SAMSUNG') != -1 else x)
/tmp/ipykernel_40498/3817290528.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfamor['MARCA']=  dfamor['MARCA'].apply(lambda x: 'MOTOROLA' if x.find('MOTOROLA') != -1 else x)

,MARCA,MODELO,SISTEMA_OP,REDE,MEMORIA_INT,RAM,RESOL CAM TRAS,GARANTIA,PESO,PREÇO
0,MOTOROLA,MOTO G 52,Android,4G,64.0,4.0,48.0,12.0,420.0,1089.000000
1,SAMSUNG,Galaxy A54,Android,5G,128.0,8.0,50.0,12.0,332.0,1859.000000
2,SAMSUNG,Galaxy A14,Android,5G,128.0,8.0,50.0,12.0,410.0,1129.000000
3,SAMSUNG,Galaxy A54,Android,5G,128.0,8.0,50.0,12.0,334.0,1859.000000
4,SAMSUNG,Galaxy A04e,Android,4G,64.0,4.0,13.0,12.0,284.0,759.000000
...,...,...,...,...,...,...,...,...,...,...
424,SAMSUNG,Galaxy S22+,Android,5G,128.0,8.0,50.0,12.0,327.0,6299.100098
425,SAMSUNG,Galaxy S22+,Android,5G,256.0,8.0,50.0,12.0,327.0,6749.100098
426,APPLE,iPhone 13,IOS,5G,256.0,6.0,12.0,12.0,1000.0,7547.000000
427,SAMSUNG,Galaxy S22+,Android,5G,128.0,8.0,50.0,12.0,413.0,4949.100098
428,REALME,C55,Android,4G,32.0,2.0,8.0,3.0,190.0,1299.900024

In [114]:
dfamor['MARCA'].unique()

array(['MOTOROLA', 'SAMSUNG', 'APPLE', 'ASUS', 'POSITIVO', 'XIAOMI',
       'TCL', 'PHILCO', 'INFINIX', 'BLUE', 'MULTILASER', 'NOKIA', 'LG',
       'TECTOY', 'RED MOBILE', 'HUSKY SPORTS', 'REALME'], dtype=object)

Variável categórica -> numérica

In [115]:
print(dfamor['MARCA'].unique())
print(dfamor['SISTEMA_OP'].unique())
print(dfamor['REDE'].unique())

['MOTOROLA' 'SAMSUNG' 'APPLE' 'ASUS' 'POSITIVO' 'XIAOMI' 'TCL' 'PHILCO'
 'INFINIX' 'BLUE' 'MULTILASER' 'NOKIA' 'LG' 'TECTOY' 'RED MOBILE'
 'HUSKY SPORTS' 'REALME']
['Android' 'IOS']
['4G' '5G' '3G']

In [116]:
encoder = OneHotEncoder(handle_unknown='ignore', sparse=False, categories='auto', dtype='int8')
dataframeenc = pd.DataFrame(encoder.fit_transform(dfamor[['MARCA','SISTEMA_OP']]))
columns = encoder.get_feature_names_out(['MARCA','SISTEMA_OP'])
dataframeenc.columns = columns
dataframeenc.index = dfamor.index
dfamorepaixao = pd.concat([dfamor, dataframeenc], axis=1)
dfamorepaixao = dfamorepaixao.drop(['MARCA', 'SISTEMA_OP', 'MODELO'],axis=1)

dfamorepaixao

/home/renanxm/.local/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,REDE,MEMORIA_INT,RAM,RESOL CAM TRAS,GARANTIA,PESO,PREÇO,MARCA_APPLE,MARCA_ASUS,MARCA_BLUE,...,MARCA_PHILCO,MARCA_POSITIVO,MARCA_REALME,MARCA_RED MOBILE,MARCA_SAMSUNG,MARCA_TCL,MARCA_TECTOY,MARCA_XIAOMI,SISTEMA_OP_Android,SISTEMA_OP_IOS
0,4G,64.0,4.0,48.0,12.0,420.0,1089.000000,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,5G,128.0,8.0,50.0,12.0,332.0,1859.000000,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,5G,128.0,8.0,50.0,12.0,410.0,1129.000000,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,5G,128.0,8.0,50.0,12.0,334.0,1859.000000,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,4G,64.0,4.0,13.0,12.0,284.0,759.000000,0,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,5G,128.0,8.0,50.0,12.0,327.0,6299.100098,0,0,0,...,0,0,0,0,1,0,0,0,1,0
425,5G,256.0,8.0,50.0,12.0,327.0,6749.100098,0,0,0,...,0,0,0,0,1,0,0,0,1,0
426,5G,256.0,6.0,12.0,12.0,1000.0,7547.000000,1,0,0,...,0,0,0,0,0,0,0,0,0,1
427,5G,128.0,8.0,50.0,12.0,413.0,4949.100098,0,0,0,...,0,0,0,0,1,0,0,0,1,0
428,4G,32.0,2.0,8.0,3.0,190.0,1299.900024,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [117]:
maping = {
    '3G': 0,
    '4G': 1,
    '5G': 2
}

dfamorepaixao['REDE'] = dfamorepaixao['REDE'].replace(maping)

dfamorepaixao['REDE'].unique()

array([1, 2, 0])

In [118]:
dfamorepaixao.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 309 entries, 0 to 428
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REDE                309 non-null    int64
 1   MEMORIA_INT         309 non-null    float64
 2   RAM                 309 non-null    float64
 3   RESOL CAM TRAS      309 non-null    float64
 4   GARANTIA            309 non-null    float64
 5   PESO                309 non-null    float64
 6   PREÇO               309 non-null    float32
 7   MARCA_APPLE         309 non-null    int8
 8   MARCA_ASUS          309 non-null    int8
 9   MARCA_BLUE          309 non-null    int8
 10  MARCA_HUSKY SPORTS  309 non-null    int8
 11  MARCA_INFINIX       309 non-null    int8
 12  MARCA_LG            309 non-null    int8
 13  MARCA_MOTOROLA      309 non-null    int8
 14  MARCA_MULTILASER    309 non-null    int8
 15  MARCA_NOKIA         309 non-null    int8
 16  MARCA_PHILCO        309 non-null    int8
 17  MARCA_POSITIVO      309 non-null    int8
 18  MARCA_REALME        309 non-null    int8
 19  MARCA_RED MOBILE    309 non-null    int8
 20  MARCA_SAMSUNG       309 non-null    int8
 21  MARCA_TCL           309 non-null    int8
 22  MARCA_TECTOY        309 non-null    int8
 23  MARCA_XIAOMI        309 non-null    int8
 24  SISTEMA_OP_Android  309 non-null    int8
 25  SISTEMA_OP_IOS      309 non-null    int8
dtypes: float32(1), float64(5), int64(1), int8(19)
memory usage: 23.8 KB

Treino e Teste + Normalização

In [119]:
dfamorepaixao.columns

x = (dfamorepaixao.drop('PREÇO', axis = 1)).to_numpy()
y = (dfamorepaixao['PREÇO']).to_numpy()

xtreino, xteste, ytreino, yteste = train_test_split(x,y, train_size=0.7)

In [120]:
Scaler = MinMaxScaler()
columns = xtreino
display(yteste)
xtreino = Scaler.fit_transform(xtreino)
xteste = Scaler.transform(xteste)


Scaleroutro = MinMaxScaler()
ytreino = Scaleroutro.fit_transform(ytreino.reshape(-1,1))
yteste = Scaleroutro.transform(yteste.reshape(-1,1))



display(ytreino)

array([4949.1 , 4949.1 , 3397.97, 4274.99, 2142.3 , 1415.6 , 1289.  ,
       2249.1 , 1299.  , 2969.1 ,  899.99, 2743.  , 7839.  ,  539.99,
       7598.1 , 3470.47,  759.  , 6749.1 , 5299.  , 2519.1 , 4949.  ,
       3149.99, 5509.99, 6209.1 , 2699.99, 5999.  , 4859.1 , 8260.92,
       6299.1 , 2998.  , 1101.05, 4679.1 ,  989.  ,  867.59, 3059.1 ,
       8299.  , 1202.94,  899.1 ,  853.1 ,  989.9 , 1999.99, 6999.  ,
       3361.49, 1399.  ,  853.1 , 1399.99, 1337.97, 1999.99, 1399.  ,
        899.99, 4799.  , 4762.4 , 7210.  , 6299.1 , 4274.99, 5199.  ,
       3597.37,  769.49,  989.9 ,  906.99,  333.55, 8999.1 , 2249.1 ,
       2199.  ,  899.99, 4199.  , 3199.  , 3199.  , 4409.1 , 1690.12,
        989.99,  899.99, 1079.99, 1545.  , 1349.99, 1166.6 , 1937.95,
       1129.  , 8299.  ,  815.  , 3289.99, 1069.  , 4299.  , 1543.69,
       2531.  , 1519.05, 6999.  , 5794.99, 1097.25,  375.21, 2294.1 ,
        854.99,  982.79], dtype=float32)

array([[0.11430542],
       [0.04477766],
       [0.07962771],
       [0.21365622],
       [0.04350568],
       [0.09139952],
       [0.53464323],
       [0.1500517 ],
       [0.4944157 ],
       [0.6794209 ],
       [0.21682179],
       [0.7979892 ],
       [0.6794209 ],
       [0.25542918],
       [0.0954487 ],
       [0.12761001],
       [0.04790302],
       [0.11075376],
       [0.10384925],
       [0.16694243],
       [0.37606573],
       [0.31068483],
       [0.5633575 ],
       [0.839021  ],
       [0.12109502],
       [0.09358726],
       [0.09110652],
       [0.1607147 ],
       [0.07616913],
       [0.24508792],
       [0.13133402],
       [0.12684017],
       [0.26185223],
       [0.1004125 ],
       [0.05318855],
       [0.02789843],
       [0.05318855],
       [0.44695392],
       [0.21198437],
       [0.05904745],
       [0.35884178],
       [0.11533955],
       [0.23475698],
       [0.04639779],
       [0.10374583],
       [0.37606573],
       [0.04228542],
       [0.07961622],
       [0.5139607 ],
       [0.19348386],
       [0.9610364 ],
       [0.09007123],
       [0.07455935],
       [0.1382167 ],
       [0.06421807],
       [0.11613122],
       [0.07568079],
       [0.19578192],
       [0.10563025],
       [0.13746639],
       [0.10028726],
       [0.57600826],
       [0.96026766],
       [0.50361943],
       [0.6794209 ],
       [0.31045616],
       [0.6794209 ],
       [0.0669769 ],
       [0.11430542],
       [0.03238998],
       [0.19855222],
       [0.06928645],
       [0.5173963 ],
       [0.19578192],
       [0.68641734],
       [0.45718604],
       [0.839021  ],
       [0.20163392],
       [0.25311962],
       [0.09478341],
       [0.26463288],
       [0.25542918],
       [0.18946224],
       [0.00625646],
       [0.16039182],
       [0.10031024],
       [0.06351833],
       [0.17280133],
       [0.04640813],
       [0.17958175],
       [0.23484889],
       [0.3071355 ],
       [0.15471102],
       [0.09570263],
       [0.07280134],
       [0.327818  ],
       [0.40260714],
       [0.17269906],
       [0.37962657],
       [0.07385959],
       [0.07393888],
       [0.337718  ],
       [0.05387682],
       [0.77018267],
       [0.89175   ],
       [0.7979892 ],
       [0.95035046],
       [0.33355165],
       [0.93305755],
       [0.06938872],
       [0.6436746 ],
       [0.50361943],
       [0.22645295],
       [0.03485234],
       [0.6794209 ],
       [0.03453866],
       [0.26463288],
       [0.09947145],
       [0.79317474],
       [0.4024934 ],
       [0.14052051],
       [0.47259563],
       [0.11408709],
       [0.4024934 ],
       [0.09205447],
       [0.37606573],
       [0.53464323],
       [0.31866023],
       [0.08374354],
       [0.01031828],
       [0.06053889],
       [0.45994484],
       [0.05318855],
       [0.19578192],
       [0.09570263],
       [0.742606  ],
       [0.03836493],
       [0.26747674],
       [0.99999994],
       [0.17958175],
       [0.26463288],
       [0.45994484],
       [0.28759047],
       [0.08076525],
       [0.10002297],
       [0.11065149],
       [0.09674825],
       [0.        ],
       [0.34349075],
       [0.6104677 ],
       [0.10031024],
       [0.08272894],
       [0.25897852],
       [0.2072722 ],
       [0.65527976],
       [0.6379283 ],
       [0.6794209 ],
       [0.05778467],
       [0.05894518],
       [0.8331495 ],
       [0.10002297],
       [0.22894746],
       [0.07973112],
       [0.19564058],
       [0.13746639],
       [0.839021  ],
       [0.08110881],
       [0.21923476],
       [0.4944157 ],
       [0.11408709],
       [0.15574515],
       [0.19566816],
       [0.11592439],
       [0.98551077],
       [0.1503964 ],
       [0.27150983],
       [0.0669769 ],
       [0.4188728 ],
       [0.37932554],
       [0.7042284 ],
       [0.05864989],
       [0.06928645],
       [0.34349075],
       [0.67263013],
       [0.99999994],
       [0.08996896],
       [0.17958175],
       [0.05422268],
       [0.13258646],
       [0.21754336],
       [0.23475698],
       [0.09570149],
       [0.42088935],
       [0.33355165],
       [0.09604388],
       [0.77018267],
       [0.12684017],
       [0.26472366],
       [0.06339078],
       [0.2718706 ],
       [0.00191084],
       [0.07962771],
       [0.7414684 ],
       [0.10030909],
       [0.1893347 ],
       [0.65527976],
       [0.0669769 ],
       [0.15889923],
       [0.10031024],
       [0.09800069],
       [0.32792026],
       [0.04009536],
       [0.22645295],
       [0.20914052],
       [0.50361943],
       [0.2991945 ]], dtype=float32)

In [121]:
model = LinearRegression()

model.fit(xtreino, ytreino)

prediction = model.predict(xteste)

yteste = Scaleroutro.inverse_transform(yteste)

prediction = Scaleroutro.inverse_transform(prediction)

mean_squared_error(yteste, prediction)


print(np.sqrt(mean_squared_error(yteste, prediction)))

1591.426574793603